.nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
  }
  .nav-Link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
  }
  
  .nav-Link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
  }